* {
    margin: 0px;
    padding: 0px;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-family: 'Work Sans', sans-serif;
}





/* header section  */
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
    gap: 20px;
}
.nav-items {
    display: flex;
    align-items: center;
}
ul li {
    list-style-type: none;
    margin-right: 20px;
}
ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-items img {
    color: #000000;

}

/* banner section start */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
    gap: 20px;
}
.banner-title {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
}
.banner-description {
    color: #3A3A3A;
    font-size: 0.9rem;
    font-weight: 600;
}
.btn-primary{
    margin-top: 20px;
    border-radius: 41px;
    background: #E02C6D;
    padding: 11px 24px;
    color: #fff;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
}
.banner-img {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 420px 420px;
}
.banner-img img{
    max-width: 420px;
    height: 420px;
}

/* Main section start */
/* online marketplaces */
.online-marketplaces{
    margin: 100px 160px;
    text-align: center;
    border: 1px solid rgba(207, 218, 230, 0.6);
    border-right: none;
    border-left: none;
    padding: 20px 0px;
}
.online-marketplaces img{
    margin-right: 50px;
    margin-bottom: 10px;
    /* width: 7%; */
}



















/* Media query start */
/* for mobile device */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        margin: 50px 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin: 20px 10px;
        text-align: center;
    }
    .banner-title{
        font-size: 2.3rem;
    }
    .online-marketplaces{
        flex-wrap: wrap;
        margin: 10px;
    }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav{
        flex-direction: column;
        margin: 50px 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin: 20px 10px;
        text-align: center;
    }
    .online-marketplaces{
        flex-wrap: wrap;
        margin: 10px;
    }
}

